* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, .row {
  padding: 0;
  margin: 0 !important;
}

html {
  font-size: 16px;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Body {
  width: 100vw;
  height: 100vh;
}

.Body .Body--Box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100vw;
  background-color: #fcfcfc;
}

#Header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  background-color: #1A689E;
}

#Menu {
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Menu .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 12.5vw;
  min-width: 150px;
  height: 100vh;
  min-height: 600px;
  padding: 0 1rem;
  padding-top: 1rem;
  background-image: url(../img/menuBack.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#Menu .navbar.inactive {
  width: 7.5vw;
  min-width: unset;
}

#Menu .navbar.inactive .navbar-brand {
  width: 2.3ch;
  overflow: hidden;
}

@media all and (max-width: 1366px) {
  #Menu .navbar.inactive .navbar-brand {
    width: 2.5ch;
  }
}

@media all and (max-width: 1366px) {
  #Menu .navbar.inactive .navbar-toggler .navbar-toggler-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

#Menu .navbar.inactive .navbar-collapse .navbar-nav .nav-item {
  height: 9.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Menu .navbar.inactive .navbar-collapse .navbar-nav .nav-item .nav-link {
  overflow: hidden;
}

#Menu .navbar.inactive .navbar-collapse .navbar-nav .nav-item .nav-link p {
  overflow: hidden;
  width: 0;
}

#Menu .navbar .navbar-brand {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 950;
}

#Menu .navbar .navbar-brand:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media all and (max-width: 1366px) {
  #Menu .navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

#Menu .navbar .navbar-toggler {
  padding: 0;
  outline: none;
  line-height: 1.5rem;
}

#Menu .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/bars-solid.svg);
  opacity: 0.75;
}

#Menu .navbar .navbar-toggler .navbar-toggler-icon:hover {
  opacity: 1;
}

@media all and (max-width: 1366px) {
  #Menu .navbar .navbar-toggler .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

#Menu .navbar .navbar-collapse {
  height: 80vh;
}

#Menu .navbar .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 12.5vh;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 3px -3px 6px 0 #00000066, -5px 5px 20px 0 #00000066;
          box-shadow: inset 3px -3px 6px 0 #00000066, -5px 5px 20px 0 #00000066;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
  margin-bottom: 0;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #939393;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
  margin-bottom: 0;
}

@media all and (max-width: 1366px) {
  #Menu .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.15rem;
  }
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

@media all and (max-width: 1366px) {
  #Menu .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0.5rem 1rem;
  }
}

#Box--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 87.5vw;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 800;
}

#Box--content.navbar-inactive {
  width: 93vw;
  z-index: 950;
}

#Box--content #Aside {
  padding: 0.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Box--content #Aside .nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom-width: 2px;
}

#Box--content #Aside .nav .nav-item {
  margin-bottom: -2px;
}

#Box--content #Aside .nav .nav-item .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #939393;
  border-width: 2px;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#Box--content #Aside .nav .nav-item .nav-link.active {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(-50%, transparent), to(#00497bc9));
  background: linear-gradient(0, transparent -50%, #00497bc9);
  border-color: #dee2e6 #dee2e6 #fcfcfc;
  color: #ffffff;
  font-weight: 600;
}

@media all and (max-width: 1366px) {
  #Box--content #Aside .nav .nav-item .nav-link {
    font-size: 1.15rem;
  }
}

#Box--content #Section {
  padding: 1rem 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.shadow-effect {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-effect:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-effect:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.05, 1.05);
}

.shadow-effect:hover:after {
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ico {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ico.account {
  background-image: url(../img/account.png);
}

.ico.add {
  background-image: url(../img/add.png);
}

.ico.buys {
  background-image: url(../img/buys.png);
}

.ico.home {
  background-image: url(../img/home.png);
}

.ico.lists {
  background-image: url(../img/lists.png);
}

.ico.products {
  background-image: url(../img/products.png);
}

.ico.sells {
  background-image: url(../img/sells.png);
}

@media all and (max-width: 1366px) {
  .ico {
    height: 2rem;
    width: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */