//START-----------------------------------------------------------------------------------MEDIA QUERYES

//mixin targeting IE
@mixin ietarget{
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin break1700{
    @media all and (max-width: 1700px){
        @content;
    }
}
@mixin break1500{
    @media all and (max-width: 1500px){
        @content;
    }
}
@mixin break1366{
    @media all and (max-width: 1366px){
        @content;
    }
}
@mixin break1300{
    @media all and (max-width: 1300px){
        @content;
    }
}
@mixin break992{
    @media all and (max-width: 992px){
        @content;
    }
}
@mixin break765{
    @media all and (max-width: 765px){
        @content;
    }
}
@mixin break575{
    @media all and (max-width: 575px){
        @content;
    }
}

//END-----------------------------------------------------------------------------------MEDIA QUERYES
*{
    box-sizing: border-box;
}
html, body, .row{
    padding: 0;
    margin: 0 !important;
}
html{
    font-size: 16px;
}
.App{
    width: 100vw;
    height: 100vh;
}
.Body{
    width: 100vw;
    height: 100vh;
    .Body--Box{
        position: relative;
        display: flex;
        align-items: stretch;
        flex-direction: row;
        height: 100%;
        width: 100vw;
        background-color: #fcfcfc;
    }
    
}
#Header{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    background-color: #1A689E;
}
#Menu{
    z-index: 900;
    display: flex;
    .navbar{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 12.5vw;
        min-width: 150px;
        height: 100vh;
        min-height: 600px;
        padding: 0 1rem;
        padding-top: 1rem;
        background-image: url(../img/menuBack.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        align-items: flex-start;
        transition: all 0.6s ease-in-out;
        &.inactive{
            width: 7.5vw;
            min-width: unset;
            .navbar-brand{
                width: 2.3ch;
                overflow: hidden;
                @include break1366(){
                    width: 2.5ch;
                }
            }
            .navbar-toggler{
                .navbar-toggler-icon{
                    @include break1366(){
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }
            }
            .navbar-collapse{
                .navbar-nav{  
                    
                    .nav-item{
                        height: 9.5vh;
                        align-items: center;
                        .nav-link{
                            overflow: hidden;
                            p{
                                overflow: hidden;
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
        .navbar-brand{
            color: #fff;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 500;
            padding: 0;
            margin: 0;
            transition: all 0.3s ease-in-out;
            z-index: 950;
            &:hover{
                transform: scale(1.05);
            }
            @include break1366(){
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        .navbar-toggler{
            padding: 0;
            outline: none;
            line-height: 1.5rem;
            .navbar-toggler-icon{
                background-image: url(../img/bars-solid.svg);
                opacity: 0.75;
                &:hover{
                    opacity: 1;
                }
                @include break1366(){
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .navbar-collapse{
            height: 80vh;
            .navbar-nav{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: flex-start;
                .nav-item{
                    display: flex;
                    flex-direction: column;
                    height: 12.5vh;
                    padding: 1rem;
                    margin-bottom: 2rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    background-color: #fff;
                    border-radius: 0.25rem;
                    box-shadow: inset 3px -3px 6px 0 #00000066, -5px 5px 20px 0 #00000066;
                    justify-content: center;
                    .nav-link{
                        color: #939393;
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding: 0;
                        p{
                            margin-bottom: 0;
                        }
                        @include break1366(){
                            font-size: 1.15rem;
                        }
                    }
                    &.active{
                        .nav-link{
                            font-weight: 600;
                        }
                    }
                    @include break1366(){
                        padding: 0.5rem 1rem;
                    }
                }
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
#Box--content{
    display: flex;
    flex-direction: column;
    width: 87.5vw;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    z-index: 800;
    &.navbar-inactive{
        width: 93vw;
        z-index: 950;
    }
    #Aside{
        padding: 0.5rem 0;
        justify-content: center;
        .nav{
            justify-content: space-around;
            border-bottom-width: 2px;
            .nav-item{
                margin-bottom: -2px;
                .nav-link{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #939393;
                    border-width: 2px;
                    background-color: transparent;
                    border-color: transparent;
                    transition: all 0.2s ease-in-out;
                    &.active{
                        background: linear-gradient(0, transparent -50%, #00497bc9);
                        border-color: #dee2e6 #dee2e6 #fcfcfc;
                        color: #ffffff;
                        font-weight: 600;
                    }
                    @include break1366(){
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
    #Section{
        padding: 1rem 1.5rem;
        overflow-x: auto;
        overflow-y: hidden;
    }
}


//On Hover Shadow Feedback effect
.shadow-effect {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.shadow-effect:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.shadow-effect:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.05, 1.05);
}
  
.shadow-effect:hover:after {
      opacity: 1;
}

//ScrollBar Style (Optimized for Chrome)
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

//icons class

.ico{
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    &.account{
        background-image: url(../img/account.png);
    }
    &.add{
        background-image: url(../img/add.png);
    }
    &.buys{
        background-image: url(../img/buys.png);
    }
    &.home{
        background-image: url(../img/home.png);
    }
    &.lists{
        background-image: url(../img/lists.png);
    }
    &.products{
        background-image: url(../img/products.png);
    }
    &.sells{
        background-image: url(../img/sells.png);
    }
    @include break1366(){
        height: 2rem;
        width: 2rem;
    }
}