* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, .row {
  padding: 0;
  margin: 0 !important;
}

html {
  font-size: 16px;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Body {
  width: 100vw;
  height: 100vh;
}

.Body .Body--Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background-color: #fcfcfc;
}

#Header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  background-color: #1A689E;
}

#Menu {
  z-index: 900;
}

#Menu .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 16.667vw;
  min-width: 220px;
  height: 4rem;
  min-height: 4rem;
  padding: 0 1rem;
  padding-top: 1rem;
  background-image: url(../img/menuBack.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#Menu .navbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

#Menu .navbar.active {
  height: 100vh;
  min-height: 600px;
}

#Menu .navbar.active:before {
  content: none;
}

#Menu .navbar .navbar-brand {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 950;
}

#Menu .navbar .navbar-brand:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Menu .navbar .navbar-toggler {
  padding: 0;
  outline: none;
}

#Menu .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/bars-solid.svg);
  opacity: 0.75;
}

#Menu .navbar .navbar-toggler .navbar-toggler-icon:hover {
  opacity: 1;
}

#Menu .navbar .navbar-collapse {
  height: 80vh;
}

#Menu .navbar .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 12.5vh;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: -4px 8px 15px #888888b5, inset 3px -5px 8px #949494;
          box-shadow: -4px 8px 15px #888888b5, inset 3px -5px 8px #949494;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #939393;
  font-size: 1.25rem;
  font-weight: 500;
}

#Menu .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
  font-size: 1.5rem;
}

#Box--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 83.333vw;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  overflow-x: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 800;
}

#Box--content.navbar-active {
  width: 100vw;
  -webkit-transform: translateX(-8.3335vw);
          transform: translateX(-8.3335vw);
  z-index: 950;
}

#Box--content #Aside {
  padding: 0.5rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Box--content #Aside .nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom-width: 2px;
}

#Box--content #Aside .nav .nav-item {
  margin-bottom: -2px;
}

#Box--content #Aside .nav .nav-item .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #939393;
  border-width: 2px;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#Box--content #Aside .nav .nav-item .nav-link.active {
  border-color: #dee2e6 #dee2e6 #fcfcfc;
}

#Box--content #Section {
  padding: 1rem 1.5rem;
}

.shadow-effect {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-effect:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-effect:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.05, 1.05);
}

.shadow-effect:hover:after {
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ico {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ico.account {
  background-image: url(../img/account.png);
}

.ico.add {
  background-image: url(../img/add.png);
}

.ico.buys {
  background-image: url(../img/buys.png);
}

.ico.home {
  background-image: url(../img/home.png);
}

.ico.lists {
  background-image: url(../img/lists.png);
}

.ico.products {
  background-image: url(../img/products.png);
}

.ico.sells {
  background-image: url(../img/sells.png);
}
/*# sourceMappingURL=style.css.map */