.StockBody {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  overflow-x: auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
}

@media all and (max-width: 1366px) {
  .StockBody {
    max-height: 60vh;
  }
}

.StockFooter {
  margin-top: 1rem;
}

.StockFooter span.form-control {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.agregarProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33.33%;
  margin: auto;
  max-height: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
}

.agregarProducto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}

.agregarProducto form .bg-title {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  height: 3rem;
  background-color: #1A689E;
  border-radius: 1rem 1rem 0.15rem 0.15rem;
  -webkit-box-shadow: 23px -23px 47px #d4d4d4,  -23px 23px 47px #ffffff;
          box-shadow: 23px -23px 47px #d4d4d4,  -23px 23px 47px #ffffff;
}

@media all and (max-width: 1366px) {
  .agregarProducto form .bg-title {
    height: 2rem;
    margin-bottom: 0.75rem !important;
  }
}

.agregarProducto form .bg-title .title-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fafafa;
}

@media all and (max-width: 1366px) {
  .agregarProducto form .bg-title .title-label {
    font-size: 1rem;
  }
}

.agregarProducto form label:not(.title-label) {
  font-size: 1.25rem;
  font-weight: 500;
  color: #939393;
}

.agregarProducto form label:not(.title-label).form-check-label {
  font-size: 1rem;
}

@media all and (max-width: 1366px) {
  .agregarProducto form label:not(.title-label).form-check-label {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .agregarProducto form label:not(.title-label).form-check-label.mr-2 {
    margin-right: 0.1rem !important;
  }
}

@media all and (max-width: 1366px) {
  .agregarProducto form label:not(.title-label) {
    font-size: .9rem;
    margin-bottom: 0rem;
  }
}

@media all and (max-width: 1366px) {
  .agregarProducto form input, .agregarProducto form textarea {
    font-size: 0.8rem;
    padding: .25rem .5rem;
  }
}

.agregarProducto form .form-group.mb-2 {
  margin-bottom: 0.5rem !important;
}

.agregarProducto form .form-group.mb-3 {
  margin-bottom: 0.75rem !important;
}

@media all and (max-width: 1366px) {
  .agregarProducto form .form-group.check-list {
    margin-bottom: 0.5rem;
  }
}

.agregarProducto form .form-group.mt-3 {
  margin-top: 0.5rem !important;
}

.agregarProducto form .dropdown-divider {
  margin: 0;
}

.agregarProducto form button[type=submit] {
  font-size: 0.9rem;
  padding: .25rem 0.5rem;
}

@media all and (max-width: 1366px) {
  th {
    padding: 0.5rem !important;
  }
}
/*# sourceMappingURL=styleMProductos.css.map */