.StockBody {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  overflow-x: auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
}

@media all and (max-width: 1366px) {
  .StockBody {
    max-height: 60vh;
  }
}

.StockFooter {
  margin-top: 1rem;
}

.StockFooter span.form-control {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.agregarProducto, .generarOrdenProduccion, .ingreso-egreso, .productosBaja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-height: 100%;
  min-height: 520px;
  border-radius: 1rem;
  -webkit-box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 9px 16px rgba(0, 0, 0, 0.16);
}

.agregarProducto {
  width: 33.33%;
}

.agregarProducto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}

.agregarProducto form label:not(.title-label) {
  font-size: 1.25rem;
  font-weight: 500;
  color: #939393;
}

.agregarProducto form label:not(.title-label).form-check-label {
  font-size: 1rem;
}

@media all and (max-width: 1366px) {
  .agregarProducto form label:not(.title-label).form-check-label {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .agregarProducto form label:not(.title-label).form-check-label.mr-2 {
    margin-right: 0.1rem !important;
  }
}

@media all and (max-width: 1366px) {
  .agregarProducto form label:not(.title-label) {
    font-size: .9rem;
    margin-bottom: 0rem;
  }
}

@media all and (max-width: 1366px) {
  .agregarProducto form input, .agregarProducto form textarea {
    font-size: 0.8rem;
    padding: .25rem .5rem;
  }
}

.agregarProducto form .form-group.mb-2 {
  margin-bottom: 0.5rem !important;
}

.agregarProducto form .form-group.mb-3 {
  margin-bottom: 0.75rem !important;
}

@media all and (max-width: 1366px) {
  .agregarProducto form .form-group.check-list {
    margin-bottom: 0.5rem;
  }
}

.agregarProducto form .form-group.mt-3 {
  margin-top: 0.5rem !important;
}

.agregarProducto form .dropdown-divider {
  margin: 0;
}

.agregarProducto form button[type=submit] {
  font-size: 0.9rem;
  padding: .25rem 0.5rem;
}

.generarOrdenProduccion {
  overflow-x: auto;
}

.generarOrdenProduccion .bg-title {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
  width: 100%;
}

.generarOrdenProduccion .content-wrapper {
  padding-bottom: 1rem;
}

.generarOrdenProduccion .content-wrapper .row-group {
  margin-bottom: 1rem !important;
}

.generarOrdenProduccion .content-wrapper .title-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generarOrdenProduccion .content-wrapper .title-wrapper .bg-title {
  width: 100%;
}

.generarOrdenProduccion .form-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generarOrdenProduccion label {
  margin-bottom: 0;
}

.generarOrdenProduccion .form-group {
  margin-bottom: 0;
}

.ingreso-egreso {
  overflow: auto;
}

.ingreso-egreso .title-wrapper .bg-title {
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ingreso-egreso .content-wrapper {
  padding-bottom: 1rem;
}

.ingreso-egreso .content-wrapper .inner-wrapper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ordenesProduccionProducto {
  height: 100%;
}

.ordenesProduccionProducto .card.dash-top {
  position: relative;
  height: 7rem;
}

.ordenesProduccionProducto .card.dash-top .card-body {
  -webkit-box-shadow: inset 3px -3px 6px 0 #00000066, -5px 5px 20px 0 #00000066;
          box-shadow: inset 3px -3px 6px 0 #00000066, -5px 5px 20px 0 #00000066;
}

.ordenesProduccionProducto .card.dash-top .card-text.left-bottom {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.ordenesProduccionProducto .buttons-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ordenesProduccionProducto .text-red {
  color: rgba(255, 0, 0, 0.5);
}

.ordenesProduccionProducto .filtrado-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ordenesProduccionProducto .content-wrapper {
  height: 100%;
  overflow-y: auto;
}

.productosBaja .title-wrapper .bg-title {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-title {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  height: 3rem;
  background-color: #1A689E;
  border-radius: 1rem 1rem 0.15rem 0.15rem;
  -webkit-box-shadow: 23px -23px 47px #d4d4d4,  -23px 23px 47px #ffffff;
          box-shadow: 23px -23px 47px #d4d4d4,  -23px 23px 47px #ffffff;
}

@media all and (max-width: 1366px) {
  .bg-title {
    height: 2rem;
    margin-bottom: 0.75rem !important;
  }
}

.bg-title .title-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fafafa;
}

@media all and (max-width: 1366px) {
  .bg-title .title-label {
    font-size: 1rem;
  }
}

@media all and (max-width: 1366px) {
  th {
    padding: 0.5rem !important;
  }
}
/*# sourceMappingURL=styleMProductos.css.map */