.StockBody{
    width: 100%;
    height: 100%;
    max-height: calc(70vh);
    overflow-x: auto;
    border-radius: 1rem;
    box-shadow: 0 9px 16px rgba($color: #000000, $alpha: 0.16);
}
.StockFooter{
    margin-top: 1rem;
    span{
        &.form-control{
            flex: initial;
            width: fit-content;
        }
    }

}

.agregarProducto{
    display: flex;
    flex-direction: row;
    width: 33.33%;
    margin: auto;
    max-height: 100%;
    border-radius: 1rem;
    box-shadow: 0 9px 16px rgba($color: #000000, $alpha: 0.16);
    form{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 0;
        width: 100%;
        .bg-title{
            margin-left: -2rem !important;
            margin-right: -2rem !important;
            height: 3rem;
            background-color: #1A689E;
            border-radius: 1rem 1rem 0.15rem 0.15rem;
            box-shadow: 23px -23px 47px #d4d4d4, 
             -23px 23px 47px #ffffff;
             .title-label{
                 font-size: 1.5rem;
                 font-weight: 500;
                 color: #fafafa;
             }
        }
        label:not(.title-label){
            font-size: 1.25rem;
            font-weight: 400;
            color: #939393;
            &.form-check-label{
                font-size: 1rem;
            }
        }
        .dropdown-divider{
            margin: 0;
        }
    }
}