//START-----------------------------------------------------------------------------------MEDIA QUERYES

//mixin targeting IE
@mixin ietarget{
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin break1700{
    @media all and (max-width: 1700px){
        @content;
    }
}
@mixin break1500{
    @media all and (max-width: 1500px){
        @content;
    }
}
@mixin break1366{
    @media all and (max-width: 1366px){
        @content;
    }
}
@mixin break1300{
    @media all and (max-width: 1300px){
        @content;
    }
}
@mixin break992{
    @media all and (max-width: 992px){
        @content;
    }
}
@mixin break765{
    @media all and (max-width: 765px){
        @content;
    }
}
@mixin break575{
    @media all and (max-width: 575px){
        @content;
    }
}

//END-----------------------------------------------------------------------------------MEDIA QUERYES
.StockBody{
    width: 100%;
    height: 100%;
    max-height: 70vh;
    overflow-x: auto;
    border-radius: 1rem;
    box-shadow: 0 9px 16px rgba($color: #000000, $alpha: 0.16);
    @include break1366(){
        max-height: 60vh;
    }
}
.StockFooter{
    margin-top: 1rem;
    span{
        &.form-control{
            flex: initial;
            width: fit-content;
        }
    }

}
.agregarProducto, .generarOrdenProduccion, .ingreso-egreso{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 100%;
    min-height: 520px;
    border-radius: 1rem;
    box-shadow: 0 9px 16px rgba($color: #000000, $alpha: 0.16);
}
.agregarProducto{
    width: 33.33%;
    form{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 0;
        width: 100%;
        label:not(.title-label){
            font-size: 1.25rem;
            font-weight: 500;
            color: #939393;
            &.form-check-label{
                font-size: 1rem;
                @include break1366(){
                    font-size: 0.75rem;
                    margin-bottom: 0;
                    &.mr-2{
                        margin-right: 0.1rem !important;
                        
                    }
                }
            }
            @include break1366(){
                font-size: .9rem;
                margin-bottom: 0rem;
            }
        }
        input, textarea{
            @include break1366(){
                font-size: 0.8rem;
                padding: .25rem .5rem;
            }
        }
        .form-group{
            &.mb-2{
                margin-bottom: 0.5rem !important;
            }
            &.mb-3{
                margin-bottom: 0.75rem !important;
            }
            &.check-list{
                @include break1366(){
                    margin-bottom: 0.5rem;
                }
            }
            &.mt-3{
                margin-top: 0.5rem !important;
            }
        }
        .dropdown-divider{
            margin: 0;
        }
        button[type=submit]{
            font-size: 0.9rem;
            padding: .25rem 0.5rem;
        }
    }
}
.generarOrdenProduccion{
    overflow-x: auto;
    .bg-title{
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: center;
        width: 100%;
    }
    .content-wrapper{
        padding-bottom: 1rem;
        .row-group{
            margin-bottom: 1rem !important;
        }
        .title-wrapper{
            justify-content: center;
            .bg-title{
                width: 100%;
            }
        }
    }
    .form-state{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label{
        margin-bottom: 0;
    }
    .form-group{
        margin-bottom: 0;
    }
}
.ingreso-egreso{
    overflow: auto;
    .title-wrapper{
        .bg-title{
            text-align: center;
            margin-left: 0 !important;
            margin-right: 0 !important;
            .title-label{
            }
        }
    }
    .content-wrapper{
        padding-bottom: 1rem;
        .inner-wrapper-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
.bg-title{
    margin-left: -2rem !important;
    margin-right: -2rem !important;
    height: 3rem;
    background-color: #1A689E;
    border-radius: 1rem 1rem 0.15rem 0.15rem;
    box-shadow: 23px -23px 47px #d4d4d4, 
     -23px 23px 47px #ffffff;
     @include break1366(){
         height: 2rem;
         margin-bottom: 0.75rem !important;
     }
     .title-label{
         font-size: 1.5rem;
         font-weight: 600;
         color: #fafafa;
         @include break1366(){
             font-size: 1rem;
         }
     }
}
th{
    @include break1366(){
        padding: 0.5rem !important;
    }
}